<article class="doc">
<h1 class="page">{{{or page.title 'Страница не найдена'}}}</h1>
<div class="paragraph">
<p>Страница, которую вы ищете не существует. Возможно, она была перемещена, или её съела собака. Вы можете{{#with site.homeUrl}} вернуться на <a href="{{{this}}}">стартовую страницу</a>, или{{/with}} перейти по одной из ссылок в навигационном меню слева.</p>
</div>
<div class="paragraph">
<p>Если вы перешли на эту страницу, нажав на ссылку, пожалуйста, сообщите нам об этом.
Если вы ввели адрес вручную, проверьте адресную строку ещё раз, возможно, вы где-то ошиблись.</p>
</div>
</article>
