<article class="doc">
<h1 class="page">{{{or page.title 'Страница не найдена'}}}</h1>
<div class="paragraph">
<p>Страница, которую вы ищете, не существует. Возможно, она была перемещена, или её съела собака. 
<ul>
<li><button class="box__button" onclick="history.back()">Вернитесь</button> на предыдущую страницу,</li>
<li>{{#with site.homeUrl}}Откройте <a href="{{{this}}}">стартовую страницу</a>,{{/with}}</li>
<li>Перейдите по ссылке в навигационном меню слева.</li>
</ul></p>
</div>
<div class="paragraph">
<p>Если вы перешли на эту страницу, нажав на ссылку, пожалуйста, сообщите нам об этом на портале ТП.</p>
<p>Если вы ввели адрес вручную, проверьте адресную строку ещё раз: возможно, вы где-то ошиблись.</p>
</div>
</article>
