<footer class="footer">
  <p>Эта страница была собрана с использованием Antora default UI.</p>
  <p>Использование исходного кода этого UI регулируется лицензией MPL-2.0.</p>
  <p>Docsvision, Docsvision 5, Web-клиент являются зарегистрированными торговыми марками компании Docsvision</p>
  <p>Любой другой текст или даже картинки-иконки и т.п.</p>
</footer>
