<aside class="nav-container nav-sidebar">
  <nav class="nav" aria-label="Docs">
  <div class="context">
  <span class="title">{{page.component.title}}</span>
  <span class="version">{{page.componentVersion.displayVersion}}</span>
</div>
  </nav>
</aside>
