<aside class="nav-container nav-sidebar">
  <nav class="nav" aria-label="Docs">
  .nav-panel-explore .context .title, .nav-panel-explore .context .version
    <div class="nav-panel-explore>
      <div class="context">
	    <span class="title">{{page.component.title}}</span>
        <span class="version">{{page.componentVersion.displayVersion}}</span>
      </div>
    </div>
  </nav>
</aside>
