 <label for="search-mode-switch" class="search-mode-switch-label {{#if small}}switch-small{{/if}}">
    <div class="search-mode-switch-container">
        <input type="checkbox" class="search-mode-switch-checkbox" name="search-mode-switch" id="search-mode-switch" disabled />
        <label class="search-mode-switch-body" for="search-mode-switch">
            <div class="search-mode-switch-inner"></div>
            <div class="search-mode-switch-switch"></div>
        </label>
    </div>
    Нейро-поиск
</label>

<script>
    class SearchMode {
        #switchElement;
        #isAiSearchMode = false;
        #modeListeners = new Set();

        constructor(switchElement) {
            this.#switchElement = switchElement;
            this.#switchElement.checked = this.#isAiSearchMode;
            this.#switchElement.addEventListener("change", (event) => {
                this.toggleMode(event.target.checked);
            });
        }

        get isAiSearchMode() {
            return this.#isAiSearchMode;
        }

        get switchElement() {
            return this.#switchElement;
        }

        toggleMode(value) {
            this.#isAiSearchMode = value;
            this.#switchElement.checked = value;
            this.#notify();
        }

        subscribe(listener) {
            this.#modeListeners.add(listener);

            return () => this.#modeListeners.delete(listener);
        }

        #notify() {
            for (const listener of this.#modeListeners) {
                listener(this.#isAiSearchMode);
            }
        }
    }

    (function(global) {
        const switchElement = document.getElementById("search-mode-switch");
        global.searchMode = new SearchMode(switchElement);
    })(window)
</script>