<label for="search-mode-switch" class="search-mode-switch-label {{#if small}}switch-small{{/if}}">
    <div class="search-mode-switch-container">
        <input type="checkbox" class="search-mode-switch-checkbox" name="search-mode-switch" id="search-mode-switch" disabled />
        <div class="search-mode-switch-body">
            <div class="search-mode-switch-inner"></div>
            <div class="search-mode-switch-switch"></div>
        </div>
    </div>
    Нейро-поиск
</label>
