<div class="scanning-pl">
    <div class="file-wp">
        <span class="square square-1"></span>
        <span class="square square-2"></span>
        <span class="square square-3"></span>
        <span class="square square-4"></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="82" viewBox="0 0 60 82" class="file">
            <style>
                .rect-1 {
                    animation: rect-1 1s ease infinite alternate;
                }

                @keyframes rect-1 {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                .rect-2 {
                    animation: rect-2 1.6s ease infinite alternate;
                }

                @keyframes rect-2 {
                    0% {
                        opacity: 0.2;
                    }

                    100% {
                        opacity: 0.9;
                    }
                }
            </style>
            <g id="Group_3976" data-name="Group 3976" transform="translate(-739.667 -256)">
                <g id="Rectangle_1093" data-name="Rectangle 1093" transform="translate(739.667 256)" fill="#f5f8ff" stroke="#85a5ff" stroke-width="2">
                    <rect width="60" height="82" rx="6" stroke="none" />
                    <rect x="1" y="1" width="58" height="80" rx="5" fill="none" />
                </g>
                <g id="Group_671" data-name="Group 671" transform="translate(706.667 219)">
                    <path id="Path_203" data-name="Path 203" d="M1575.576,3537.371h17.832" transform="translate(-1531.038 -3479.55)" fill="none" stroke="#85a5ff" stroke-width="1" />
                    <path id="Path_204" data-name="Path 204" d="M1575.576,3537.371h17.832" transform="translate(-1531.038 -3471.923)" fill="none" stroke="#85a5ff" stroke-width="1" />
                    <path id="Path_205" data-name="Path 205" d="M1575.576,3537.371h17.832" transform="translate(-1531.038 -3464.296)" fill="none" stroke="#85a5ff" stroke-width="1" />
                    <g id="Rectangle_982" data-name="Rectangle 982" transform="translate(67 54)" fill="#fff" stroke="#85a5ff" stroke-width="1">
                        <rect width="15" height="20" stroke="none" />
                        <rect x="0.5" y="0.5" width="14" height="19" fill="none" />
                    </g>
                </g>
                <rect id="Rectangle_985" data-name="Rectangle 985" width="6" height="5" transform="translate(741.667 322)" fill="#3359cc" />
                <rect id="Rectangle_986" data-name="Rectangle 986" width="5.501" height="5.501" transform="translate(750.382 321.945)" fill="#3359cc" />
                <rect id="Rectangle_987" class="rect-2" data-name="Rectangle 987" width="5.501" height="5.501" transform="translate(758.977 321.945)" fill="#3359cc" />
                <rect id="Rectangle_988" data-name="Rectangle 988" width="5.501" height="5.501" transform="translate(767.573 321.945)" fill="#3359cc" />
                <rect id="Rectangle_989" class="rect-1" data-name="Rectangle 989" width="5.501" height="5.501" transform="translate(784.763 321.945)" fill="#3359cc" />
                <rect id="Rectangle_990" data-name="Rectangle 990" width="5.501" height="5.501" transform="translate(793.359 321.945)" fill="#3359cc" />
                <rect id="Rectangle_992" data-name="Rectangle 992" width="5.501" height="5.501" transform="translate(758.977 313.693)" fill="#3359cc" />
                <rect id="Rectangle_993" class="rect-2" data-name="Rectangle 993" width="5" height="5" transform="translate(776.667 314)" fill="#3359cc" />
                <rect id="Rectangle_994" data-name="Rectangle 994" width="5.501" height="5.501" transform="translate(793.359 313.693)" fill="#3359cc" />
                <rect id="Rectangle_996" class="rect-2" data-name="Rectangle 996" width="6" height="6" transform="translate(741.667 305)" fill="#3359cc" />
                <rect id="Rectangle_997" class="rect-1" data-name="Rectangle 997" width="5.501" height="5.501" transform="translate(750.382 305.441)" fill="#3359cc" />
                <rect id="Rectangle_998" data-name="Rectangle 998" width="5.501" height="5.501" transform="translate(758.977 305.441)" fill="#3359cc" />
                <path id="Union_5" data-name="Union 5" d="M5.5,5.5V0H11V5.5ZM0,5.5V0H5.5V5.5Z" transform="translate(767.573 305.441)" fill="#3359cc" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1" />
                <rect id="Rectangle_1001" data-name="Rectangle 1001" width="5.501" height="5.501" transform="translate(784.763 305.441)" fill="#3359cc" />
                <rect id="Rectangle_1002" class="rect-2" data-name="Rectangle 1002" width="5.501" height="5.501" transform="translate(793.359 305.441)" fill="#3359cc" />
            </g>
        </svg>
    </div>
    <div class="scanning-pl-content">
        <svg xmlns="http://www.w3.org/2000/svg" width="179.637" height="383.153" viewBox="0 0 179.637 383.153">
            <g id="Group_3977" data-name="Group 3977" transform="translate(-1105 -67.5)">
                <g id="Group_3975" data-name="Group 3975" transform="translate(1105 259.077)">
                <line id="Line_43" data-name="Line 43" x2="179.637" fill="none" stroke="#3359cc" stroke-width="1"/>
                <line id="Line_43-2" data-name="Line 43" x2="179.637" transform="translate(0 12.489)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.7"/>
                <line id="Line_43-3" data-name="Line 43" x2="179.637" transform="translate(0 18.733)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.7"/>
                <line id="Line_43-4" data-name="Line 43" x2="179.637" transform="translate(0 24.977)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.6"/>
                <line id="Line_43-5" data-name="Line 43" x2="179.637" transform="translate(0 32.471)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.6"/>
                <line id="Line_43-6" data-name="Line 43" x2="179.637" transform="translate(0 41.213)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.6"/>
                <line id="Line_43-7" data-name="Line 43" x2="179.637" transform="translate(0 51.204)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.5"/>
                <line id="Line_43-8" data-name="Line 43" x2="179.637" transform="translate(0 61.194)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.5"/>
                <line id="Line_43-9" data-name="Line 43" x2="179.637" transform="translate(0 71.185)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.5"/>
                <line id="Line_43-10" data-name="Line 43" x2="179.637" transform="translate(0 81.176)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.4"/>
                <line id="Line_43-11" data-name="Line 43" x2="179.637" transform="translate(0 91.167)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.4"/>
                <line id="Line_43-12" data-name="Line 43" x2="179.637" transform="translate(0 101.158)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.4"/>
                <line id="Line_43-13" data-name="Line 43" x2="179.637" transform="translate(0 111.149)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.3"/>
                <line id="Line_43-14" data-name="Line 43" x2="179.637" transform="translate(0 121.14)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.3"/>
                <line id="Line_43-15" data-name="Line 43" x2="179.637" transform="translate(0 131.131)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.3"/>
                <line id="Line_43-16" data-name="Line 43" x2="179.637" transform="translate(0 141.122)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.2"/>
                <line id="Line_43-17" data-name="Line 43" x2="179.637" transform="translate(0 151.113)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.2"/>
                <line id="Line_43-18" data-name="Line 43" x2="179.637" transform="translate(0 161.104)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.2"/>
                <line id="Line_43-19" data-name="Line 43" x2="179.637" transform="translate(0 171.095)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.1"/>
                <line id="Line_43-20" data-name="Line 43" x2="179.637" transform="translate(0 181.086)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.1"/>
                <line id="Line_43-21" data-name="Line 43" x2="179.637" transform="translate(0 191.077)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.1"/>
                <line id="Line_44" data-name="Line 44" x2="179.637" transform="translate(0 3.747)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.8"/>
                <line id="Line_45" data-name="Line 45" x2="179.637" transform="translate(0 7.493)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.7"/>
                </g>
                <g id="Group_3976" data-name="Group 3976" transform="translate(1105 68)">
                <line id="Line_43-22" data-name="Line 43" x2="179.637" transform="translate(0 191.077)" fill="none" stroke="#3359cc" stroke-width="1"/>
                <line id="Line_43-23" data-name="Line 43" x2="179.637" transform="translate(0 178.588)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.7"/>
                <line id="Line_43-24" data-name="Line 43" x2="179.637" transform="translate(0 172.344)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.7"/>
                <line id="Line_43-25" data-name="Line 43" x2="179.637" transform="translate(0 166.099)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.6"/>
                <line id="Line_43-26" data-name="Line 43" x2="179.637" transform="translate(0 158.606)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.6"/>
                <line id="Line_43-27" data-name="Line 43" x2="179.637" transform="translate(0 149.864)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.6"/>
                <line id="Line_43-28" data-name="Line 43" x2="179.637" transform="translate(0 139.873)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.5"/>
                <line id="Line_43-29" data-name="Line 43" x2="179.637" transform="translate(0 129.882)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.5"/>
                <line id="Line_43-30" data-name="Line 43" x2="179.637" transform="translate(0 119.891)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.5"/>
                <line id="Line_43-31" data-name="Line 43" x2="179.637" transform="translate(0 109.9)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.4"/>
                <line id="Line_43-32" data-name="Line 43" x2="179.637" transform="translate(0 99.909)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.4"/>
                <line id="Line_43-33" data-name="Line 43" x2="179.637" transform="translate(0 89.918)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.4"/>
                <line id="Line_43-34" data-name="Line 43" x2="179.637" transform="translate(0 79.927)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.3"/>
                <line id="Line_43-35" data-name="Line 43" x2="179.637" transform="translate(0 69.937)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.3"/>
                <line id="Line_43-36" data-name="Line 43" x2="179.637" transform="translate(0 59.946)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.3"/>
                <line id="Line_43-37" data-name="Line 43" x2="179.637" transform="translate(0 49.955)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.2"/>
                <line id="Line_43-38" data-name="Line 43" x2="179.637" transform="translate(0 39.964)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.2"/>
                <line id="Line_43-39" data-name="Line 43" x2="179.637" transform="translate(0 29.973)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.2"/>
                <line id="Line_43-40" data-name="Line 43" x2="179.637" transform="translate(0 19.982)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.1"/>
                <line id="Line_43-41" data-name="Line 43" x2="179.637" transform="translate(0 9.991)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.1"/>
                <line id="Line_43-42" data-name="Line 43" x2="179.637" transform="translate(0 0)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.1"/>
                <line id="Line_44-2" data-name="Line 44" x2="179.637" transform="translate(0 187.33)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.8"/>
                <line id="Line_45-2" data-name="Line 45" x2="179.637" transform="translate(0 183.583)" fill="none" stroke="#3359cc" stroke-width="1" opacity="0.7"/>
                </g>
            </g>
            </svg>
            
    </div>

</div>