<!DOCTYPE html>
<html lang="ru">
  <head>
{{> head defaultPageTitle='Страница не найдена'}}
    <style>
      paragraph {text-align: center;}
    </style>
  </head>
<body class="status-404">
{{> header}}
{{> body-404}}
{{> footer}}
</body>
</html>
